*{
  box-sizing: border-box;
}

.container {
  
  min-width: 350px;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  /* align-items: center; */
  justify-content: center;
}

.square {
  width: 350px;
  height: 350px;
  background-color: white;
  border: solid black 2px;
}

.date {

  display: block;
  text-align: center;

}

@media (min-width: 375px) {

  .container {
    max-width: 750px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: .5rem auto;
  }

}